<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30655170134-e7dj77v97gqg8hi18daqpbkoll59j2vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30655170134-e7dj77v97gqg8hi18daqpbkoll59j2vt</string>
	<key>API_KEY</key>
	<string>AIzaSyCM6qmKICgaZRI9O1jetZ7sSak_ZnEwg00</string>
	<key>GCM_SENDER_ID</key>
	<string>30655170134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mc.Chumigos</string>
	<key>PROJECT_ID</key>
	<string>loggio-f46bd</string>
	<key>STORAGE_BUCKET</key>
	<string>loggio-f46bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:30655170134:ios:aa6e3b66b94d4d57125df7</string>
	<key>DATABASE_URL</key>
	<string>https://loggio-f46bd.firebaseio.com</string>
</dict>
</plist>
